@font-face {
  font-family: 'Bangers';
  src: url('assets/font/Bangers-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lobster';
  src: url('assets/font/Lobster-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pacifico';
  src: url('assets/font/Pacifico-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}